{% extends "base.html" %}

{% block title %} Lista uczniów klasy {% endblock title %}

{% block content %}

{% for student in students_grades %}
    <p> {{ student.last_name }} {{ student.first_name }}
    {% for category in categories_of_grades %}
        {{ category }}
        {% for grade in student.grades %}
            {% ifequal grade.1 category %}
                {{ grade.0 }}
            {% endifequal %}
        {% endfor %}
    {% endfor %} 
    {{ student.average }} </p>
{% endfor %}

{% endblock content %}
