{% extends "base.html" %}

{% block title %} {{ object.last_name }} {{ object.first_name }} {% endblock title %}
{% block content %}
<h2> {{ object.last_name }} {{ object.first_name }} </h2>
<p> Pesel: {{ object.pesel }} </p>
<p> Klasa: {{ object.which_class.level }}{{ object.which_class.branch }}</p>
{% for grade in object.grades.values.values %}
    {{ grade.value }}
{% endfor %}
<p> Rodzice: </p>
{% for parent in object.parents.all %}
    <p> {{ parent.last_name }} {{ parent.first_name }} </p>
{% endfor %}
<p> Uwagi: </p>
{% for note in object.notes.all %}
<p> {{ note.title }} </p>
<p> {{ note.content }} </p>
{% endfor %}
{% endblock %}
